.upload {
  position: relative;
  text-align: center;
}

.upload-header {
  background-color: white;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
    height: 350px;
    width: 430px;
  }

  .image{
    position: relative;
  }

  .container .wrapper{
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    border: 2px dashed #c2cdda;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .wrapper.active{
    border: none;
  }

  .wrapper .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper img{
    height: 100%;
    width: 100%;
  }

  .wrapper img.landscape {
    object-fit: cover;
  }
  
  .wrapper img.portrait {
    object-fit: contain;
  }

  .wrapper .icon{
    font-size: 100px;
    color: #8B1438;
  }

  .wrapper .text{
    font-size: 20px;
    font-weight: 500;
    color: #5B5B7B;
  }

  .wrapper #cancel-btn {
    position: absolute;
    font-size: 20px;
    right: 15px;
    top: 15px;
    color: #8B1438;
    cursor: pointer;
  }

  .wrapper #cancel-btn :hover{
    color: #e74c3c;
  }

  .wrapper .file-name{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(135deg,#d16988 0%,#8B1438 100%);
  }

  .container #custom-btn{
    margin-top: 30px;
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(135deg,#d16988 0%,#8B1438 100%);
  }
  
  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    border: 1px solid #888;
    width: 30%;
    border-radius: 10px;
  }
  
  .modal-header {
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .modal-header h5 {
    margin: 5px 0;
    font-size: 20px;
  }
  
  .modal-body {
    padding: 2px 16px;
    font-size: 15px; /* Adjust font size */
    line-height: 1.5;
    color:#000000;
    padding-top: 10px; /* Adjust the padding value as needed */
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -12px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .success .modal-header {
    background-color: #8B1438; /* Green */
  }
  
  .failure .modal-header {
    background-color: #8B1438; /* Red */
  }
  
  /*Modal Table*/
  
.modal-table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  .modal-table th,
  .modal-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  .modal-table th {
    background-color: #f2f2f2;
  }

  .modal-footer {
    padding-bottom: 15px; /* Adjust the padding value as needed */
  }

  .modal-footer button {
    padding: 12px 20px;
    margin-top: 10px; /* Added margin at the top of the button */
    background-color: #8B1438;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .modal-footer button:hover {
    background-color: #80505e; /* Darker shade on hover */
  }

  .modal-image-container {
    text-align: center;
    vertical-align: middle;
  }
  
  .modal-image-container img {
    max-width: 120px;
    max-height: 120px;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
  }
  
  .upload-progress {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the progress bar */
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .upload-progress-bar {
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    border: 2px solid #8B1438; /* Blue border for spinner */
    border-radius: 50%; /* Make it circular */
    border-top: 2px solid transparent; /* Hide the top border initially */
    animation: spin 1s linear infinite; /* Animation with 1 second duration, linear easing, and infinite repetition */
  }

  .generate-progress {
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the progress bar */
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .generate-progress-bar {
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    border: 2px solid #8B1438; /* Blue border for spinner */
    border-radius: 50%; /* Make it circular */
    border-top: 2px solid transparent; /* Hide the top border initially */
    animation: spin 1s linear infinite; /* Animation with 1 second duration, linear easing, and infinite repetition */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); } /* Start with no rotation */
    100% { transform: rotate(360deg); } /* End with full rotation */
  }

  /* Media query for smaller devices */
  @media screen and (max-width: 576px) {
    .upload-header {
      min-height: 85vh;
    }

    .container {
      height: auto; /* Adjust height dynamically */
      width: 100%; /* Adjust width to fit the screen */
      max-width: 300px; /* Limit maximum width */
    }

    .wrapper {
      height: auto; /* Adjust height dynamically */
      max-width: 100%; /* Adjust width to fit the screen */
    }

    .wrapper .text {
      font-size: 16px; /* Decrease font size for smaller screens */
    }

    .container #custom-btn {
      margin-top: 20px; /* Reduce margin top for buttons */
      font-size: 16px; /* Decrease font size for buttons */
    }

    .modal-content {
      width: 80%;
    }

    .modal-header h5 {
      font-size: 15px;
    }

    .modal-body {
      font-size: 10px;
    }

    .modal-table {
      width: 90%;
    }
  }